*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --red: #eb4a5a;
    --white: #f9fafc;
    --light_grey: #f6f3f3;
    --grey: #434343;
    --blue: #274671;
}
body {
    font-family: 'Oswald', sans-serif;
}
/** Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--light_grey);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.nav__img {
    height: 55px;
}
.nav__button {
    background-color: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--grey);
    transition: 0.5s;
}
.nav__button:hover {
    transform: scale(1.7);
    color: var(--red);
}
/** Desplegable carrito */
.nav__car {
    background-color: var(--light_grey);
    height: 90vh;
    width: 30%;
    position: fixed;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    transition: 0.5s;
    box-shadow: 5px 10px 20px 0px #43434384;
    left: 100%;
}
.nav__car--visible {
    left: 70%;
}
.nav__car__counter {
    background-color: var(--blue);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 12px;
    position: absolute;
    right: 5px;
}
/** Carrito */
.car__product {
    max-width: 300px;
}
.car__product__image {
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.car__product__image img {
    max-width: 250px;
}
.car__product__description {
    margin: 20px 30px;
}
.car__product__button {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.delete__product {
    margin-bottom: 20px;
    border: none;
    background-color: var(--red);
    padding: 10px 20px;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
}
.delete__product:active {
    transform: scale(0.9);
}
.empty__button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: none;
    background-color: var(--red);
    padding: 10px 20px;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
}
.empty__button:active {
    transform: scale(0.9);
}
/** Header */
.header {
    height: 350px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(235,74,90);
    background: radial-gradient(circle, rgba(235,74,90,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-box-shadow: 22px 25px 22px 10px rgba(0,0,0,0.23);
    -moz-box-shadow: 22px 25px 22px 10px rgba(0,0,0,0.23);
    box-shadow: 22px 25px 22px 10px rgba(0,0,0,0.23);
}
.header__img {
    height: 200px;
    margin-top: 60px;
}
/** Main */
.main__h3 {
    margin: 40px;
    text-align: center;
    font-size: 60px;
    color: var(--grey);
    font-weight: 500;
    text-shadow: 5px 5px 5px #aaa;
}
.main__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 60px 40px;
}
.products__element {
    max-width: 300px;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition: all 300ms;
}
.products__name {
    padding-top: 10px;
    text-align: center;
    text-shadow: 5px 5px 5px #aaa;
}
.products__div {
    display: flex;
    gap: 5px;
    margin: 10px 20px;
    font-size: 18px;
}
.products__price {
    padding-top: 10px;
    text-align: center;
    text-shadow: 5px 5px 5px #aaa;
}
.products__div--flex {
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}
.products__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--red);
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 3px 2px 5px 0px #434343;
}
.products__button:active {
    transform: scale(0.9);
}
.products__button--search {
    color: var(--blue)
}
.products__img {
    max-width: 290px;
    
}
.products__img:hover {
    transform: scale(1.1);
    rotate: 5deg;
    transition: 0.5s;
}
.footer {
    font-size: 32px;
    height: 350px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(235,74,90);
    background: radial-gradient(circle, rgba(235,74,90,1) 0%, rgba(255,255,255,1) 100%);  
    box-shadow: 10px -14px 9px 1px rgba(0,0,0,0.42);
    -webkit-box-shadow: 10px -14px 9px 1px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px -14px 9px 1px rgba(0,0,0,0.42);
}
.footer p {
    color: var(--grey);
    text-shadow: 5px 5px 5px #aaa;
    font-weight: 700;
}

/**  Modal*/
.modal {
    background-color: var(--white);
    width: 85%;
    max-width: 1000px;
    min-height: 65%;
    position: fixed;
    top: 15%;
    box-shadow: 0px 10px 20px 8px #43434385;
    display: none;
}
.close {
    display: flex;
    justify-content: flex-end;
    color: var(--red);
    font-size: 26px;
}
.modal__icon {
    margin: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}
.modal__icon:hover {
    transform: scale(1.3);
}
/* Clase muestra modal */
.show__modal {
    display: block;
}

/* Media queries */
@media screen and (max-width: 1920px) {
    .nav__car {
        width: 20%;
    }
    .nav__car--visible {
        left: 80%;
    }
}
@media screen and (max-width: 1360px) {
    .nav__car {
        width: 30%;
    }
    .nav__car--visible {
        left: 70%;
    }
}
@media screen and (max-width: 900px) {
    .nav__car {
        width: 35%;
    }
    .nav__car--visible {
        left: 65%;
    }
}
@media screen and (max-width: 768px) {
    .nav__car {
        width: 45%;
    }
    .nav__car--visible {
        left: 55%;
    }
}
@media screen and (max-width: 574px) {
    .nav__car {
        width: 80%;
    }
    .nav__car--visible {
        left: 20%;
    }
}