*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --red: #eb4a5a;
    --white: #f9fafc;
    --light_grey: #f6f3f3;
    --grey: #434343;
    --blue: #274671;
}
body {
    font-family: 'Oswald', sans-serif;
}
/** Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--light_grey);
    position: fixed;
    width: 100%;
}
.nav__img {
    height: 55px;
}
.nav__button {
    background-color: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--grey);
    transition: 0.5s;
}
.nav__button:hover {
    transform: scale(1.2);
}
/** Desplegable carrito */
.nav__car {
    background-color: var(--light_grey);
    height: 90vh;
    width: 40%;
    position: fixed;
    top: 65px;
    overflow-y: scroll;
    transition: 0.5s;
    box-shadow: 5px 10px 20px 0px #43434384;
    left: 100%;
}
.nav__car--visible {
    left: 60%;
}
/** Carrito */
.car__product {
    max-width: 300px;
}
.car__product__image {
    display: flex;
    justify-content: center;
}
.car__product__image img {
    max-width: 250px;
}
.car__product__description {
    margin: 20px 30px;
}
.car__product__button {
    display: flex;
    justify-content: flex-end;
}
.delete__product {
    margin-bottom: 20px;
    border: none;
    background-color: var(--red);
    padding: 10px 20px;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.delete__product:hover {
    transform: scale(1.1);
}
/** Header */
.header {
    height: 350px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__img {
    height: 200px;
    margin-top: 60px;
}
/** Main */
.main__h3 {
    margin: 40px;
    font-size: 26px;
    color: var(--grey);
    font-weight: 500;
}
.main__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 60px 40px;
}
.products__element {
    max-width: 300px;
}
.products__img {
    max-width: 290px;
}